body {
  margin: 0;
  background: url('Checkers3.png') no-repeat center center fixed;
  background-size: cover;
  background-color: burlywood;
  color: #000;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  color: #8B5E3C;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #975930;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.search {
  display: block;
  margin: 40px auto 20px auto;
  padding: 12px;
  font-size: 18px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  color: #000;
}
.search::placeholder {
  color: #888;
}

.personal {
  background-color: rgba(255, 250, 240, 0.95);
  color: #000;
  width: 60%;
  margin: 0 auto 20px auto;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}


.header {
  padding: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.hRank{
  padding-left: 20px;
}

.hWin{
  padding-left: 130px;
}

.hTime{
  padding-right: 40px;
}

.mainLB {
  background-color: #0a0a0a;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.player-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.player-list li {
  background-color: #d3d3d3;
  color: black;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

li:first-of-type{
  color: red;
}

.playerName{
  width: 20%;
  position: flex;
}

.playerWin{
  width: 30px;
  position: flex;
}

.playerLoss{
  width: 30px;
}
