body {
  background-color: #3a3a3a;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  color: #8B5E3C;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #1a0d0d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.search {
  display: block;
  margin: 40px auto 20px auto;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  width: 60%;
  background-color: #5a1414;
  color: white;
}

.search::placeholder {
  color: #e0e0e0;
}

.personal {
  background-color: #0a0a0a;
  color: white;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.header{
  padding: 5px;
  max-height: 40px;
  font-size: 20px;
  display: flex;
  justify-content:space-between;
  width: 50%;
  margin: auto;
  
}

.hRank{
  padding-left: 20px;
}

.hWin{
  padding-left: 130px;
}

.hTime{
  padding-right: 40px;
}

.mainLB {
  background-color: #0a0a0a;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.player-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.player-list li {
  background-color: #d3d3d3;
  color: black;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

li:first-of-type{
  color: red;
}

.playerName{
  width: 20%;
  position: flex;
}

.playerWin{
  width: 30px;
  position: flex;
}

.playerLoss{
  width: 30px;
}
